<%= stylesheet_link_tag "users", :media => "all" %>
<div class="main-wrapper">
  <% provide(:title, 'Sign up') %>
  <div class="signup">
    <div>
      <%= form_for @user, url: users_create_path do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>
    <div>
        <%= f.label :email %>
        <%= f.email_field :email %>
    </div>
    <div>
        <%= f.label :prefecture %>
        <%= f.collection_select(:prefecture, @prefecture, :id, :prefecture) %>
    </div>
    <div>
        <%= f.label :password %>
        <%= f.password_field :password %>
    </div>
    <div>
        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation %>
    </div>
    <div>
        <%= f.submit "Create my account", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
